html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

/* Navigation */

nav {
  background-color: #333;
  height: 50px;
  width: 100%;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  float: left;
}

nav ul li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

nav ul li a:hover {
  background-color: #111;
}

nav ul li a.active {
  background-color: #4CAF50;
}

/* Forms */
form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  align-items: start;
}

form input,
form textarea
{
  width: 200px;
  height: 50px;
  border: 1px solid #333;
  border-radius: 5px;
  padding: 10px;
  font-size: 20px;
}

form textarea:focus,
form input:focus {
  outline: none;
}

form button {
  width: 200px;
  height: 50px;
  border: 1px solid #333;
  border-radius: 5px;
  padding: 10px;
  font-size: 20px;
  margin-left: 10px;
}

form button:hover {
  background-color: #333;
  color: white;
}

/* Alert */
.alert {
  width: 200px;
  height: 50px;
  color: white;
  text-align: center;
  padding-left: 10px;
  font-size: 20px;
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.alert-success {
  background-color: #4CAF50;
}

.alert-danger {
  background-color: #f44336;
}

/* If screen size is less than 600px, position the alert at the bottom */
@media screen and (max-width: 600px) {
  .alert {
    position: fixed;
    bottom: 0;
    top: unset;
  }
}

/* Container */
.container {
  padding: 20px;
}

/* Table */
table {
  border-collapse: collapse;
  width: 100%;
}

table td, table th {
  border: 1px solid #ddd;
  padding: 8px;
}

table tr:nth-child(even){background-color: #f2f2f2;}

table tr:hover {background-color: #ddd;}

table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #333;
  color: white;
}

/* Link */
a {
  text-decoration: none;
  color: #4CAF50;
}

a:hover {
  text-decoration: underline;
}

/* Misc */
h1 {
  text-transform: uppercase;
}

.products {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.products a {
  text-decoration: none;
  color: #4CAF50;
  text-align: center;
  text-transform: uppercase;
  border: 1px solid #333;
  padding: 10px;
}

.products a:hover {
  text-decoration: underline;
}

.products img {
  width: 200px;
  height: 200px;

  border: 1px solid #333;
  border-radius: 5px;
}
